.container {
  position: relative;
  z-index: 1;
}

.popupFixed {
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 5000; 
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
