@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: "Chicago";
    src: url("/fonts/ChicagoFLF.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: rgb(15, 163, 186);
  color: #000;
  /* font-family: "VT323", monospace !important; */
  font-family: "Chicago", sans-serif;
  font-size: large;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* body :hover {
  cursor: url("/cursor.png") 0 0, auto;
} */

h1, h2, h3, h4, h5, h6, p:hover {
    cursor: default;
}
