@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.popUp {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); 
    /* width: 800px;
    height: 700px; */
    background-color: #c1c9c8;
    box-shadow: 
        inset 3px 3px 1px white,
        3px 3px 1px black
    ;
}

.popUpHeader {
    background-color: #c1c9c8;
    box-shadow: 
        inset 3px 3px 1px white,
        3px 0px 1px black;
    /* height: 120px; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#img {
    position: relative;
    left: 10px;
}

#img:hover {
    cursor: pointer;
}

.popUpHeader h1 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    flex: 1; 
}

.background, .background * {
    flex: 1 1 auto;
    margin: 0 5px 5px 5px;
    padding: 10px;
    background-color: black;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    font-family: "VT323", monospace !important;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.background p {
    color: white;
    padding: 0px 10px 0px 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    position: relative; 
}

.buttons p {
    margin: 0 5px 0 5px;
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #c1c9c8;
    box-shadow: 
        inset 3px 3px 1px white,
        3px 3px 1px black
    ;
}

.buttons p:hover {
    cursor: pointer;
}
